display-flex,
.signup-content,
.form-row,
.form-radio,
.select-icon,
.select-icon i {
    display: flex;
    display: -webkit-flex
}

list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/montserrat/Montserrat-Light.ttf)
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf)
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/montserrat/Montserrat-Italic.ttf)
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf)
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/montserrat/Montserrat-SemiBold.ttf)
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf)
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/montserrat/Montserrat-BoldItalic.ttf)
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/montserrat/montserrat-v12-latin-900.ttf), url(../fonts/montserrat/montserrat-v12-latin-900.eot) format("embedded-opentype"), url(../fonts/montserrat/montserrat-v12-latin-900.svg) format("woff2"), url(../fonts/montserrat/montserrat-v12-latin-900.woff) format("woff"), url(../fonts/montserrat/montserrat-v12-latin-900.woff2) format("truetype")
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/poppins/poppins-v5-latin-300.eot);
    src: local("Poppins Light"), local("Poppins-Light"), url(../fonts/poppins/poppins-v5-latin-300-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-300.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-300.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-300.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-300.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/poppins/poppins-v5-latin-300italic.eot);
    src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url(../fonts/poppins/poppins-v5-latin-300italic-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-300italic.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-300italic.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-300italic.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-300italic.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/poppins/poppins-v5-latin-regular.eot);
    src: local("Poppins Regular"), local("Poppins-Regular"), url(../fonts/poppins/poppins-v5-latin-regular-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-regular.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-regular.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-regular.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-regular.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/poppins/poppins-v5-latin-italic.eot);
    src: local("Poppins Italic"), local("Poppins-Italic"), url(../fonts/poppins/poppins-v5-latin-italic-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-italic.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-italic.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-italic.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-italic.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/poppins/poppins-v5-latin-500.eot);
    src: local("Poppins Medium"), local("Poppins-Medium"), url(../fonts/poppins/poppins-v5-latin-500-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-500.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-500.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-500.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-500.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/poppins/poppins-v5-latin-500italic.eot);
    src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(../fonts/poppins/poppins-v5-latin-500italic-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-500italic.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-500italic.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-500italic.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-500italic.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/poppins/poppins-v5-latin-600.eot);
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(../fonts/poppins/poppins-v5-latin-600-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-600.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-600.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-600.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-600.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/poppins/poppins-v5-latin-700.eot);
    src: local("Poppins Bold"), local("Poppins-Bold"), url(../fonts/poppins/poppins-v5-latin-700-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-700.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-700.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-700.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-700.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/poppins/poppins-v5-latin-700italic.eot);
    src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(../fonts/poppins/poppins-v5-latin-700italic-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-700italic.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-700italic.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-700italic.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-700italic.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/poppins/poppins-v5-latin-800.eot);
    src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url(../fonts/poppins/poppins-v5-latin-800-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-800.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-800.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-800.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-800.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/poppins/poppins-v5-latin-800italic.eot);
    src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url(../fonts/poppins/poppins-v5-latin-800italic-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-800italic.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-800italic.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-800italic.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-800italic.svg) format("svg")
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/poppins/poppins-v5-latin-900.eot);
    src: local("Poppins Black"), local("Poppins-Black"), url(../fonts/poppins/poppins-v5-latin-900-1.eot) format("embedded-opentype"), url(../fonts/poppins/poppins-v5-latin-900.woff2) format("woff2"), url(../fonts/poppins/poppins-v5-latin-900.woff) format("woff"), url(../fonts/poppins/poppins-v5-latin-900.ttf) format("truetype"), url(../fonts/poppins/poppins-v5-latin-900.svg) format("svg")
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s
}



img {
    max-width: 100%;
    height: auto
}

figure {
    margin: 0
}





h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #222;
    font-family: montserrat;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 32px
}

.clear {
    clear: both
}

body {
    font-size: 13px;

    color: #222;
    font-family: Arial;
    background: #282828;

}

.container {
    width: 1400px;
    position: relative;

    background: #fff
}

.signup-img,
.signup-form {
    width: 50%
}

.signup-img {

}

.register-form {
    padding: 50px 100px 50px 70px
}

.form-row {
    margin: 0 -15px
}

.form-row .form-group {
    width: 50%;
    padding: 0 15px
}

.form-group {
    margin-bottom: 23px;
    position: relative
}


label {
    font-size: 14px;
    font-weight: 700;
    font-family: montserrat;
    margin-bottom: 2px;
    display: block
}

.form-radio {
    margin-bottom: 18px
}



.radio-label {
    padding-right: 72px
}

.form-radio-item {
    position: relative;
    margin-right: 45px
}

.form-radio-item label {
    font-weight: 500;
    font-size: 13px;
    padding-left: 25px;
    position: relative;
    z-index: 9;
    display: block;
    cursor: pointer
}

.check {
    display: inline-block;
    position: absolute;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    height: 13px;
    width: 13px;
    top: 4px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear
}

.check:before {
    position: absolute;
    display: block;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background .25s linear;
    -webkit-transition: background .25s linear
}




.form-select {
    position: relative
}

select {
    appearance: none!important;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    -o-appearance: none!important;
    -ms-appearance: none!important;
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer
}

.select-icon {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center
}

.select-icon i {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    width: 40px;
    height: 20px;
    font-size: 18px;
    color: #999
}

.form-submit {
    text-align: right;
    padding-top: 27px
}

.submit {
    width: 140px;
    height: 40px;
    display: inline-block;
    font-family: poppins;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border: none;
    cursor: pointer
}

#reset {
    background: #f8f8f8;
    color: #999;
    margin-right: 8px
}

#reset:hover {
    background: #ff6801;
    color: #fff
}

#submit {
    background: #ff6801;
    color: #fff
}

#submit:hover {
    background-color: #cd5300
}

@media screen and (max-width:992px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%
    }
    .signup-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column
    }
    .signup-img,
    .signup-form {
        width: 100%
    }
}

@media screen and (max-width:768px) {
    .register-form {
        padding: 50px 40px
    }
}

@media screen and (max-width:575px) {
    .form-row {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        margin: 0
    }
    .form-row .form-group {
        width: 100%;
        padding: 0
    }
    .radio-label {
        padding-right: 22px
    }
    .form-radio-item {
        margin-right: 25px
    }
}

@media screen and (max-width:480px) {
    .form-radio {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column
    }
    .submit {
        width: 100%
    }
    #reset {
        margin-right: 0;
        margin-bottom: 10px
    }
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 14px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #a3bbc4;
    border-radius: 6px;
    box-sizing: border-box;
    border-bottom-right-radius:21px 13px;
}
.inputContainer i {
    position: absolute;
}
.inputContainer {
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    padding: 27px;
    color: #a3bbc4;
    width: 70px;
    text-align: left;
    font-size: 15px;
}
.Field {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
}
.alert-info {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
    max-width:max-content;
    margin: auto;
    border-bottom-right-radius: 9px 10px;
    margin-top: 25px;
    color: #19125e;
}
.alert-danger {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
    max-width:max-content;
    margin: auto;
    border-bottom-right-radius: 9px 10px;
    margin-top: 25px;
    color: red;
}
.error
{
    width: 100%;
    padding: 14px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #a3bbc4;
    border-radius: 6px;
    box-sizing: border-box;
    border-bottom-right-radius: 9px 10px;
}
input:focus {
    outline: none;
    width: 100%;
    padding: 14px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #19125e;
    border-radius: 6px;
    box-sizing: border-box;
    border-bottom-right-radius:21px 13px;
    color: #19125e;
}